body{
    background-color: #eeeeee;
}

main{
    padding-bottom: 30px;
    background-color: #eeeeee;
}

h1{
    display: inline-block;
    margin-left: 7%;
}

h1, .back{
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%)
}

.back{
    margin-left: 1.5%;
}

.right-icons{
    position: absolute;
    right:15px;  
    height:100%;
}

.right-icon{
    display:inline-flex;
    align-items: center;
    height:100%;
}
.right-icon a{
    display:flex;
    flex-flow: column;
    align-items: center;
    margin-right: 10px;
}
.right-icon a p{
    margin-bottom: 0;
    padding-bottom: 0;
}

.head-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    height: 13vmin;
    position: relative;
    background-color: white;
    overflow: hidden;
}

a{
    text-decoration: none;
}

a p{
    color: black;
}

.nav-tabs{
    padding-left: 3%;
    background-color: white;
    font-size: 2vmin;
    height: 7vmin;
    overflow: hidden;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: rgb(213, 213, 213);
    border-color: #dee2e6 #dee2e6 #fff;
    height: 7vmin;
}

.nav-link, .nav-link:hover{
    color:#2c2c2c;
    height: 7vmin;
}

.nav-link{
    display: flex;
    align-items: center;
}

.nav-link svg{
    margin-right:2%;
}

nav{
    border: 1px solid #ddd;
}.nav-tabs{
    padding-left: 3%;
    background-color: white;
    font-size: 2vmin;
    height: 7vmin;
    overflow: hidden;
}


.nav-tabs .nav-link.active {
    color: #495057;
    background-color: rgb(213, 213, 213);
    border-color: #dee2e6 #dee2e6 #fff;
    height: 7vmin;
}

.nav-link, .nav-link:hover{
    color:#2c2c2c;
    height: 7vmin;
}
.nav-link{
    display: flex;
    align-items: center;
}
.nav-link svg{
    margin-right:2%;
}

nav{
    border: 1px solid #ddd;
}

.round {
    background-image: url(https://st2.depositphotos.com/3648933/5449/i/950/depositphotos_54492017-stock-photo-man-with-flowers.jpg);
    width: 90%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    margin-left:auto;
    margin-right:2%;
    margin-top: 1%;
    width: 25%;
    text-align: center;
}

.card-title{
    padding: 5%;
}

.card-link+.card-link {
    margin-left: 3%;
}

.dropbtn {
    padding: 5%;
    font-size: 2.5vmin;
    border: none;
    cursor: pointer;
    width: 90%;
    background-color: white;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    width:100%;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    text-align: left;
    background-color: white;
}

.dropdown-content a {
    color: black;
    padding: 3% 5%;
    text-decoration: none;
    display: block;
    font-size: 2.5vmin;
}

.dropdown-content svg {
    margin-right: 10px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

hr{
    margin: 0;
}

#myDropdown2{
    text-align: center;
}

#myDropdown2 textarea{
    width:95%;
    height:50px;
    border: 1px solid rgb(233, 233, 233);
    margin-top: 10px;
    margin-bottom: 10px;
}
